h1 {
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 50px;
}
body {
    background: #fafafa;
    background-image: url("computer.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

.button {
    text-align: center;
    padding-top: 20px;
    padding-right: 42px;
}

#gif-image {
    position: fixed;
    left: 40%;
    top: 17%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
embed {
    height: 250px;
    width: 250px;
    text-align: center;
}